<div class="row">
  <div class="col-md-2">
    {% include 'partials/category.twig' %}
  </div>
  <div class="col-md-10">
      <div class="row">
          <p class="col">Total of {{products.total}} products</p>
      </div>
      <div class="row">
        {% for product in products.items %}
        <div class="col-md-3" data-id="{{product.product_id}} card">
        <a href="detail.php?product_id={{product.product_id}}">
            <img class="img-fluid card-img-top" src="images/products/{{product.image}}">
        </a>
            <div class="card-body">
                <h4 class="card-title product-name">{{product.name}}</h4>
                <h6 class="card-subtitle price">{{product.price}}</h6>
                <p>{{product.description|slice(0,50) ~ '...' }}</p>
            </div>
        </div>
        {% endfor %}
      </div>
  </div>
</div>