<div class="row">
  <div class="col-md-2">
    {% include 'partials/category.twig' %}
  </div>
  <div class="col-md-10">
      <div class="row">
      {# find the name of the selected category #}
        {% set category_name = '' %}
        {% for category in categories.items %}
          {% if categories.active == category.category_id %}
            {% set category_name = category.category_name %}
          {% endif %}
        {% endfor %}
          <p class="col">
          Total of {{products.total}} products
          {# if there is a category selected #}
          {% if category_name %}
            <span class="text-capitalize"> in <strong>{{category_name}}</strong></span> category
          {% endif %}
          </p>
      </div>
      <div class="row">
        {% for product in products.items %}
        <div class="col-md-3" data-id="{{product.product_id}} card">
        <a href="detail.php?product_id={{product.product_id}}">
            <img class="img-fluid card-img-top" src="images/products/{{product.image}}">
        </a>
            <div class="card-body">
                <h4 class="card-title text-capitalize">{{product.name}}</h4>
                <h6 class="card-subtitle price">{{product.price}}</h6>
                <p>{{product.description|slice(0,50) ~ '...' }}</p>
            </div>
        </div>
        {% endfor %}
      </div>
  </div>
</div>