<!doctype html>
<html lang="en">
    {% include 'includes/head.twig' %}
    <body>
    {% include 'includes/navigation.twig' %}
        <main class="container-fluid mt-4">
            <div class="row">
                <p class="col">Total of {{products.total}} products</p>
            </div>
            <div class="row">
                {% for product in products.items %}
                <div class="col-md-3" data-id="{{product.product_id}} card">
                    <img class="img-fluid card-img-top" src="images/products/{{product.image}}">
                        <div class="card-body">
                        <h4 class="card-title product-name">{{product.name}}</h4>
                        <h6 class="card-subtitle price">{{product.price}}</h6>
                        <p>{{product.description|slice(0,50) ~ '...' }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </main>
    </body>
</html>